﻿h1 {
    color: darkblue;
}

.ma_classe {
    color: white;
    text-align: center;
    font-size: 16px;
}

p {
    font-family: DM serif Text;
    text-align: center;
    font-size: 16px;
}

body {
    background-color: black;
    color: white;
    font-size: 16px;
}

a {
    color: red;
    font-size: 16px;
}

header {
    color: blue;
    font-size: 20px;
    background-color: white;
    text-align: center;
    font-family: Bodoni Moda;
}

.bas-de-page {
    color: greenyellow;
    font-size: 16px;
}

.text {
    color: greenyellow;
    font-size: 1.5em;
}

footer {
    background-color: black;
}

img {
    background-color: white;
}

.fond {
    background: black;

}
